{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %} 
{% bootstrap_messages %}
{% block content %}
<div class="fluid-container" style="margin: 10%;">
    <form method="POST" class = "search">
        {% csrf_token %}
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" name = "search" id = "search">
        <button type="submit" class="btn btn-default">SEARCH</button>
    </form>
    &nbsp;
    <div class = "row" id = "result">

    </div>
</div>
<script>
    $(".search").submit(function () {
      event.preventDefault();
      $ ( "#result" ).empty();
      var search = $( "#search" ).val();
      $.ajax({
        url: "{% url 'story8:search' %}" +search ,
        data: {
          'data': search,
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        },
        method: "POST",
        dataType: 'json',
        success: function (data) {
          $( data.items ).each(function(index, element){
            $ ( "#result" ).append("<div class = 'col-md-4'></div>")
            var current = $ ( '#result' ).children().last()
            $ ( current ).append("<div class = 'panel panel-default'></div>")
            current =  $ ( ".panel" ).last()
            $ ( current ).append("<div class = 'panel-heading'>" +element.volumeInfo.title +"</div>")
            $ ( current ).append("<div class = 'panel-body'></div>")
            current =  $ ( ".panel-body" ).last()
            $ ( current ).append("<img src ='" + element.volumeInfo.imageLinks.thumbnail + "'>")
            $ ( current ).append("<h3>Deskripsi</h3>")
            $ ( current ).append("<p>" + element.volumeInfo.description + "</p>")
          });
          }
        });
      });

</script>
{% endblock content %}
