{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %} 
{% bootstrap_messages %}
{% block content %}
<h1 class="text-center">Acara</h1>
<div class="container-fluid">
	<div class="row">
        {% for event in event_list %}
		<div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{event.nama}}
                </div>
                <div class="panel-body">
                    <ol>
                        {% for orang in event.participants.all %}
                        <li class="list-item">
                            {{orang.nama}}
                        </li>
                        {% empty %}
                        <p>belum ada yang join ;-;</p>
                        {% endfor %}
                    </ol>
                    <form method="POST">
                        {% csrf_token %}
                        <input name="tambah" hidden>
                        <input name="id" value="{{event.id}}" hidden>
                        <button type = "submit" class= "btn btn-default"> Tambah partisipan</button>
                    </form>
                </div>  
		    </div>         
        </div>  
            {%endfor%} 
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Mau tambah event mu? silahkan ^^
                </div>
                <div class = 'panel-body'>
                    nanti kalau ada yang join mereka di list disini~
                <a class ="btn btn-default" href="{% url 'story6:add_event' %}">Buat event</a>
                </div>
            </div>       
        </div>
        
	</div>
</div>
{% endblock content %}

