{% extends 'base.html' %}
{% block content %} 
<div class="container">    
    <div class="row">

{% for title,body in info %}
<div class="col-12 col-md-6">
    <h1>
     {{title}}
    </h1>
    <p>
       {{ body|linebreaks }}
    </p>
</div>

 
{% endfor %}
</div>
</div>
{% endblock content %}
