{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center">
    <h1> {{ name}} </h1>
    <h3> {{ motto }}</h3>
    <img src="{% static 'img/profpic.png' %}" height="25%" width="25%">
</div>
{% endblock content %}

