{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %} 
{% bootstrap_messages %}
{% block content %}
<div class = 'container-fluid'>
{% if user.is_authenticated %}
    <h3>
        selamat datang {{ user.username }}
    </h3>
    <a href="{% url 'story9:logout' %}" class= "btn btn-default">
        logout
    </a>
{% else %}
    <h3>
        selamat datang orang baru! silahkan log in atau sign up
    </h3>
    <a href="{% url 'story9:login' %}" class= "btn btn-default">
        login
    </a>
    <a href="{% url 'story9:signup' %}" class= "btn btn-default">
        signup
    </a>
{% endif %}
</div>
{% endblock content %}
