{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %} 
{% bootstrap_messages %}
{% block content %}
<div class = 'container-fluid'>
<h3>berhasil log out</h3>
</div>
{% endblock content %}
