{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %} 
{% bootstrap_messages %}
{% block content %}
<div class = 'container-fluid'>
    <div class = 'jumbotron'>
    <form method="POST" class="text-left">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="signup">
    </form>
    </div>
</div>
{% endblock content %}
