{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %} 
{% bootstrap_messages %}
{% block content %}
<div class = "containter-fluid">
    <div id = "accordion" style="margin:5%;" >
        <div>
            <h3>
                Aktivitas saat ini 
                <button class = "up">^</button>
                <button class = "down">v</button>
            </h3>
            <div>
                <p>
                "A fictional Character made by the PPW Tutor Team to serve as a mascot for the class. Known for her energy and bright personality, the PPW Tutor Team chose her so that their students can be happy as 'Kak Pewe' gives them assignments"
                </p>
            </div>
        </div>
        <div>
            <h3>
                Pengalaman
                <button class = "up">^</button>
                <button class = "down">v</button>
            </h3>
            <div>
                <h4>
                    Managed a small bussines
                </h4>
                <p>
                    I was an assistant manager in periuk nyonyah, I have experience in managing a small team to work together in a restaurant

                    while working as assistant manager, I also created a program to automate the receipt printing, inventory management, and creation of daily reports
                </p>
                <h4>
                    Tutor in University
                </h4>
                <p>
                    I am currently part of a tutor in my university

                    our main job as a tutor is to prepare the subjects to be taught, preparing the assignments and grading them, and most importantly keeping a close communications to our students

                    Additionally, I also act as the mascot of the team. I am responsible for giving the assignments to our students and also be their example
                </p>
            </div>
        </div>
        <div>
            <h3>
                Prestasi
                <button class = "up">^</button>
                <button class = "down">v</button>
            </h3>
            <div>
                <h4>
                    GMTK game jam first place winner
                </h4>
                <p>
                    First place winner in one of he biggest international gamejam   
                </p>
            </div>
        </div>
        <div>
            <h3>
                Projects
                <button class = "up">^</button>
                <button class = "down">v</button>
            </h3>
                <div>
                    <h4>
                        Periuk Nyonya PoS
                    </h4>
                    <p>
                        I have made a simple point of sales program for one of the restaurants near my house.

                        By using an engine called Godot I created a simple program to handle receipt printing, daily reports, and inventory management

                    </p>
                    <h4>
                        Dodge the Creeps video game
                    </h4>
                    <p>
                        As part of my hobby, I tried making a simple video game from assets I found on the internet

                            By using an engine called Godot, I created a game that can be played on both PCs and phones. The game itself if not currently published, but I can provide a copy by request
                    </p>
                </div>
        </div>
    </div>
</div>
<script>
    $( function() {
    $( "#accordion" )
      .accordion({
        header: "> div > h3",   
        collapsible: true
      })
  } );
</script>
<script>
    $( document ).on ("click", ".down", function() {
        var source = $( this ).parent().parent();
        if (!$ ( source ).is(":last-child")){
        $ ( source ).next().replaceWith(
        $ ( source ).replaceWith($ ( source ).next().clone())
        );
        }
        $ ("#accordion").accordion("refresh");
    });
</script>
<script>
    $( document ).on ("click", ".up", function() {
        var source = $( this ).parent().parent();
        if (!$ ( source ).not(":first-child")){
        $ ( source ).prev().replaceWith(
        $ ( source ).replaceWith($ ( source ).prev().clone())
        );
        }   
        $ ("#accordion").accordion("refresh");
    });
</script>
{% endblock content %}
