{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

       
        <style>
            .nav-default{
                  background-color: #F4F9D5;
                  color: #36311F;
              }
          </style>
        {% block title%}
        <title>Kosong eheheh</title>
        {% endblock title%}
        {% block script %}
        <script  src = "{% static 'jquery-ui-1.12.1.custom/external/jquery/jquery.js'%}"></script>
        <script src = "{% static 'jquery-ui-1.12.1.custom/jquery-ui.js'%}"></script>
        
        <link rel = "stylesheet" href="{% static 'jquery-ui-1.12.1.custom/jquery-ui.css'%}">
        {% endblock script %}
        
    </head>
    
    <nav class = "nav nav-default">
        <div class ="container-fluid">
            <ul class = "nav navbar-nav">
            <li><a href="{% url 'story3:home'%}">Home</a></li>
            <li><a href="{% url 'story3:about me'%}">About me</a></li>
            <li><a href="{% url 'story3:projects'%}">Projects</a></li>
            <li><a href="{% url 'story3:experience'%}">Experience</a></li>
            <li><a href="{% url 'story3:contacts'%}">Contact</a></li>
            <li><a href="{% url 'index'%}">Story 1</a></li>
            <li><a href="{% url 'story4:matkul'%}">Story 4</a></li>
            <li><a href="{% url 'story4:schedule'%}">Scheduler</a></li>
            <li><a href="{% url 'story6:home' %}">Story 6</a></li>
            <li><a href="{% url 'story7:index' %}">Story 7</a></li>
            <li><a href="{% url 'story8:index' %}">Story 8</a></li>
            <li><a href="{% url 'story9:index' %}">Story 9</a></li>
            </ul>
            {% if user.is_authenticated %}
            <h5>
                selamat datang {{ user.username }}
            </h5>
            {% endif %}
        </div>
        
    </nav>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
</html>