{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %} 
{% bootstrap_messages %}
{% block content %}
<div>
    <form method="POST" class="text-left">
        {% csrf_token %}
        {% bootstrap_form form%}
        <input type="submit" value="submit">
    </form>
    <p>
        {{status}}
    </p>
</div>
{% endblock content %}

