{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %} 
{% bootstrap_messages %}
{% block content %}
<table class = "table table-striped">
    <tbody>
      <tr>
        <td style="width: 1%;">Nama</td>
        <td>{{matkul.nama}}</td>
      </tr>
      <tr>
        <td>Dosen</td>
        <td>{{matkul.dosen}}</td>
      </tr>
      <tr>
        <td>SKS</td>
        <td>{{matkul.sks}}</td>
      </tr>
      <tr>
        <td>Semester</td>
        <td>{{matkul.semester}}</td>
      </tr>
      <tr>
        <td>Ruang</td>
        <td>{{matkul.ruang}}</td>
      </tr>
      <tr>
        <td>Deskripsi</td>
        <td>{{matkul.deskripsi}}</td>
      </tr>
    </tbody>
    </table>
{% endblock content %}

