{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %} 
{% bootstrap_messages %}
{% block content %}
<a class ="btn btn-default" href="{% url 'story4:add_matkul' %}">Tambahkan kelas</a>
<table class = "table table-bordered">
    <thead>
      <tr>
        <th style="width: 1%;">No</th>
        <th class="text-center">Nama Kelas</th>
        <th class="text-center">Hari</th>
        <th class="text-center">Kelas mulai</th>
        <th class="text-center">Kelas habis</th>
        <th class="text-center">Warna Background</th>
        <th class="text-center">Warna Text</th>
      </tr>
    </thead>
    <tbody>
        {% for kelas in kelas_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{kelas.nama}}</td>
            <td>{{kelas.hari}}</td>
            <td>{{kelas.start_time}}</td>
            <td>{{kelas.end_time}}</td>
            <td>{{kelas.bcolor}}</td>
            <td>{{kelas.tcolor}}</td>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <input name="delete" hidden>
                    <input name="id" value="{{kelas.id}}" hidden>
                    <button type = "submit" class= "btn btn-default"> delete</button>
                </form>           
            </td>
        </tr>
        {% empty %}
        Kamu belum memasukan kelas apapun  jadi masih kosong :(
        {% endfor %}
    </tbody>
{% endblock content %}
