{% extends 'base.html' %}
{% load static %}
{% load bootstrap3 %} 
{% bootstrap_messages %}
{% block content %}
<a class ="btn btn-default" href="{% url 'story4:add_matkul' %}">Tambahkan kelas</a>
<table class = "table table-bordered">
    <thead>
      <tr>
        <th style="width: 1%;">No</th>
        <th class="text-center">Nama Matkul</th>
        <th class="text-center">Dosen</th>
        <th class="text-center">SKS</th>
        <th class="text-center">Semester</th>
        <th class="text-center">Ruang</th>
      </tr>
    </thead>
    <tbody>
        {% for matkul in matkul_list %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{matkul.nama}}</td>
            <td>{{matkul.dosen}}</td>
            <td>{{matkul.sks}}</td>
            <td>{{matkul.semester}}</td>
            <td>{{matkul.ruang}}</td>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <input name="delete" hidden>
                    <input name="id" value="{{matkul.id}}" hidden>
                    <button type = "submit" class= "btn btn-default"> delete</button>
                </form>           
            </td>
            <td>
                <form method="POST">
                    {% csrf_token %}
                    <input name="detail" hidden>
                    <input name="id" value="{{matkul.id}}" hidden>
                    <button type = "submit" class= "btn btn-default"> detail</button>
                </form>           
            </td>
        </tr>
        {% empty %}
        Kamu belum memasukan mata kuliah apapun  jadi masih kosong :(
        {% endfor %}  
{% endblock content %}

