{% extends 'base.html' %}
{% load static %}
{%block title %}
<title> Schedule </title>
{% endblock title%}
{% block content %}
<a class ="btn btn-default" href="{% url 'story4:add' %}">Tambahkan kelas</a>
<a class ="btn btn-default" href="{%url 'story4:manager' %}">Edit/Hapus kelas</a>
<table class = "table table-striped">
    <thead>
      <tr>
        <th style="width: 1%;">Jam</th>
        <th class="text-center">Senin</th>
        <th class="text-center">Selasa</th>
        <th class="text-center">Rabu</th>
        <th class="text-center">Kamis</th>
        <th class="text-center">Jumat</th>
        <th class="text-center">Sabtu</th>
      </tr>
    </thead>
    <tbody>
      {% for weekly in schedule_table %}
      <tr>
        {% for daily in weekly%}
        <td rowspan="{{daily.row}}" class = "text-center" style="background-color: {{daily.bcolor}}; color: {{daily.tcolor}};">
          {{daily.content}}
        </td>
        {% endfor %}
      {% endfor %}
    </tbody>
    </table>
{% endblock content %}
